html, body {
    background: black;
    margin: 0;
}

@font-face {
    font-family: "Audiowide";
    src: url("fonts/Audiowide-Regular.ttf");
}

#top-logo {

    width: 100%;
    padding: 0;
    /*margin: 0;
    max-width: 100%;*/
}

#top-logo .child {
    /*width: 100%;*/
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}

#top-logo .center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#top-logo #txt_right, #txt_left{
    font-family: "Audiowide";
    font-size: 3vw;
    color: white;
}
